*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

background:#0D0D0D;
color:white;

}



.home{

min-height:100vh;
background:#0D0D0D;

}



/* NAVBAR */

.navbar{

height:75px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 60px;

position:fixed;

top:0;

width:100%;

background:#0D0D0D;

z-index:10;

border-bottom:1px solid #2C2C2C;

}



.logo{

font-size:38px;

font-weight:900;

color:#E50914;

}



.logo span{

color:white;

}



nav{

display:flex;

gap:30px;

}


nav a{

color:#B3B3B3;

cursor:pointer;

}



nav a:hover{

color:white;

}




.actions{

display:flex;

align-items:center;

gap:20px;

font-size:22px;

}



.search{

display:flex;

align-items:center;

gap:10px;

background:#181818;

padding:10px 15px;

border-radius:25px;

border:1px solid #2C2C2C;

}



.search input{

background:none;

border:none;

outline:none;

color:white;

}




/* HERO */

.hero{

height:65vh;

display:flex;

align-items:center;

padding-left:70px;

background:

linear-gradient(
90deg,
#0D0D0D,
transparent
);

}



.hero-content h1{

font-size:80px;

color:#E50914;

}



.hero-content p{

font-size:22px;

color:#B3B3B3;

}





/* MOVIES */


.movies{

padding:40px 60px;

}



.movies h2{

font-size:30px;

margin-bottom:25px;

}



.movie-row{

display:flex;

gap:25px;

overflow-x:auto;

padding-bottom:15px;

}



.movie-row::-webkit-scrollbar{

height:8px;

}


.movie-row::-webkit-scrollbar-thumb{

background:#E50914;

border-radius:10px;

}





/* MOVIE POSTER */

.movie-card{

width:200px;

height:300px;

flex-shrink:0;

border-radius:12px;

overflow:hidden;

background:#232323;

border:1px solid #2C2C2C;

transition:0.3s;

cursor:pointer;

}



.movie-card img{

width:100%;

height:100%;

object-fit:cover;

display:block;

}



.movie-card:hover{

transform:scale(1.08);

border-color:#E50914;

box-shadow:0 10px 30px black;

}